$ar-font-family: "Noto Kufi Arabic", sans-serif;
$en-font-family: "Poppins", sans-serif;

$bg-color: white;
$card-color: #f5f7f7;
$card-color: #e9f3ed;
$on-background-color: #165d31;
$footer-bg-color: #248248;
$light-text-color: #e7e7e7;
$body-text-color: #0d2611;

$red-primary: #f32224;
$red-lighter: #f4383a;
$lighter-green-color: #49a135;
$light-green-color: #30883a;
$dark-green-color: #248248;
$darker-green-color: #165d31;
$orange-yellowish: #ffcc00;
$dark-bg : #0e341d;