<section class="projects-section">
  <div class="container">
    <div class="row project-details-card custom-shape px-0 justify-content-between ">
      <div class="col-md-5 text-center">
        <h1 class="section-title text-center mt-5  mb-5">{{i18n "our-projects"}}</h1>
        <div class="d-none d-lg-block py-5"></div>
        <br>
        <p class="fs-5 px-3">{{i18n "home-projects-section-desc"}}</p>
        <a class="btn" aria-label="Explore all of Areena Saudi German Projects"
          href="{{`projects` | relLangURL}}">{{i18n "view-all-projects"}}</a>
      </div>

      
    </div>

  </div>
</section><!-- Project area end -->